:root{
  --primary-color:rgb(247, 119, 224);
}

nav {
  border-bottom: solid rgb(195, 195, 195) 2px;
  position: relative;
}



nav ul {
  width: 95vw;
  padding: 15px;
  margin: 0 auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

nav ul li{
  cursor: pointer;
}

nav ul li.logo {
  color:var(--primary-color) ;
  font-weight: 700;
  font-size: 20px;
  flex-grow: 1;
}

nav ul li input {
  margin-left: 10px;
  width: 50%;
  height: 40px;
  padding: 10px;
}

.link {
  padding: 8px 0;
  border-bottom: solid rgb(195, 195, 195) 2px;
  position: relative;
}




.profile{
  position: absolute;
  background-color: white;
  z-index: 3;
  width: 200px;
  padding: 15px;
  text-align: left;
  top: 50px;
  right: 35px;
  box-shadow: 1px 1px 5px rgb(195, 195, 195);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile span{
  font-size: 0.7em;
  font-weight: 400;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile button{
  background-color:var(--primary-color) ;
  border: none;
  font-size: 1.2em;
  color: white;
  padding: 5px 10px;
  cursor: pointer;

}

.sub {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 10px;
}

.sub span {
  cursor: pointer;
  display: block;
}

.sub span:hover{
  border-bottom: 2px solid var(--primary-color);
}



.options{
    width:90vw;
    border: solid 1px rgb(195, 195, 195);
    position: absolute;
    left: 8%;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background-color: white;
    z-index: 4;
}

.options span{
  display: block;
  padding: 0 10px;
  
}


.options-title{
  color: var(--primary-color) ;
}

.options div:nth-of-type(2n) {
  background: rgba(229, 228, 229, 0.768);
}

.options-title span a:link,
.options-title span a:visited{
  text-decoration: none;
 
  color: black;
}

.options-title span a:link:hover{
  text-decoration: underline;
}

